<div class="dashboard-container d-flex">
  <!-- Sidebar -->
  <nav class="sidebar bg-light p-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <button class="nav-link btn btn-link" routerLink="/members">Members</button>
      </li>
      <li class="nav-item">
        <button class="nav-link btn btn-link" routerLink="/Trainers">Trainers</button>
      </li>
      <li class="nav-item">
       <button class="nav-link btn btn-link" routerLink="/Classes">Classes</button>
      </li>
    </ul>
  </nav>

  <!-- Main content -->
  <div class="dashboard-content flex-fill p-3">
    <router-outlet></router-outlet>
  </div>
</div>