<div class="dashboard-container d-flex">
  <!-- Sidebar -->
  <nav class="sidebar bg-light p-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="members">Members</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="trainers">Trainers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="classes">Classes</a>
      </li>
    </ul>
  </nav>

  <!-- Main content -->
  <div class="dashboard-content flex-fill p-3">
    <router-outlet></router-outlet>
  </div>
</div>
